.qr-code-component {
  --_border-radius: 1.5rem;
  --_padding: 1rem;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-component.low-res {
  background: var(--background-image-low-res);
}

.qr-code-component.high-res {
  background: var(--background-image);
}

.qr-code-wrapper {
  border-radius: var(--_border-radius);
  display: grid;
  padding: var(--_padding);
  place-content: center;
  justify-items: center;
  gap: 1.5rem;
  background: var(--qr-wrapper-bg);
  backdrop-filter: blur(40px);
  filter: drop-shadow(0px 4px 16px rgba(16, 16, 16, 0.1))
    drop-shadow(0px 4px 100px rgba(16, 16, 16, 0.1));
  transform: perspective(1000px) rotateX(var(--rotateX)) rotateY(var(--rotateY));
  position: relative;
}

.qr-code {
  background: var(--qr-bg-color);
  border-radius: calc(var(--_border-radius) - 0.625rem);
  padding: calc(var(--_padding) * 4);
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(40000px) translateZ(-100px);
}

.qr-code::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.qr-code::after {
  inset: -0.5rem;
  background: var(--qr-bg-color);
  opacity: 0.4;
  filter: blur(24px);
  transform: translateZ(-80px);
}

.qr-code-img {
  height: 14rem;
  aspect-ratio: 1 / 1;
  background: var(--qr-code-image);
}

.qr-code-text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: calc(var(--_padding) * 22);
  padding-block: 1rem;
  text-wrap: balance; /* only supported in chrome as of now */
}

/* foooter css */

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 5rem;
  margin-inline: auto;
  backdrop-filter: blur(2.5rem);
  border-top: 1px solid var(--qr-wrapper-bg);
}

.attribution {
  color: var(--qr-bg-color);
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 60%;
  width: 100%;
}

/* media query */

@media screen and (max-width: 46em) {
  .attribution {
    justify-content: center;
    margin-block: 1.5rem;
    max-width: 90%;
  }
}
